---
layout: layouts/base.njk
---
<div class="article-head" style="margin-top:30px;">
  <div class="eyebrow">Calades</div>
  <h1>{{ title }}</h1>
</div>

<div class="content" style="margin-top:26px;">
  {{ content | safe }}
</div>
